/microservices/db/data
/.vscode
/conf/.vscode
/microservices/creacv/.vscode
/microservices/template/.vscode
/.vscode

.vscode/launch.json
conf/.vscode/launch.json
microservices/creacv/.vscode/launch.json
